* {
  margin: 0;
  padding: 0;
}

body {
    min-width: 1200px;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    font-weight: 300;
    background: #849d8f;
}

body > input[type="radio"] {
  display: none;
}

h1 {
  font-family: "Roboto", "Arial", sans-serif;
    font-size: 60px;
    line-height: 60px;
    color: black;
    font-weight: 700;
}

  h2 {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 35px;
    line-height: 41px;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 23px;
}


.clearfix::after {
    content: "";

    display: table;
    clear: both;
}

.site-wrapper {
  min-width: 1200px;

  background-repeat: no-repeat;
  background-position: top center;

  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.content-wrapper {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

.main-header {
  color: #ffffff;
}

.main-navigation {
  float: left;
  width: 675px;
}


.main-navigation ul {
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 0;
  line-height: 0;
}

.main-navigation li {
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  padding-top: 5px;
}

.main-navigation li:first-child {
margin: 0;
padding: 0;
  padding-right: 15px;
  margin-left: -5px;
  padding-top: 10px;

}

.main-navigation a {
  padding: 5px 14px;
  font-size: 16px;
  line-height: 18px;
  background: transparent;
  color: #ffffff;
  text-decoration: underline;;
}

.main-navigation a:hover {
  color: #000000;
  background: #ffffff;
  padding: 5px 14px;
  border-radius: 20px;
  text-decoration: none;
  cursor: pointer;
}

.user-block {
    float: right;
    padding-top: 23px;
    margin-bottom: 15px;
    font-size: 0;
}

.search {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  font-size: 0;
  width: 15px;
  height: 15px;

  background: rgba(255,255,255,0.2);
  padding: 9px 9px;
  border-radius: 20px;
}

.search:hover {
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
}

.search::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 7px;
  left: 7px;

  background: url("../img/search.svg") no-repeat;
}

.login {
  position: relative;

  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-decoration:none;

  background: rgba(255,255,255,0.2);
  padding: 7px 15px 10px 45px;
  border-radius: 20px;
}

.login:hover {
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
}

.login::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 19px;
  top: 7px;
  left: 15px;
  background: url("../img/sign-in.svg") no-repeat;
}

.basket {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 7px 35px 10px 45px;
  padding-right: 35px;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-decoration:none;

  background: rgba(255,255,255,0.2);
  border-radius: 20px;
}

.basket:hover {
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
}

.basket:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 19px;
  top: 7px;
  left: 15px;

  background: url("../img/cart.svg") no-repeat;
}

.full {
  padding-right: 14px;
  color: #000000;
}

.full:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 19px;
  top: 7px;
  left: 16px;

  background: url("../img/cart-full.svg") no-repeat;
}

.navigation-and-contacts {
  font-size: 0;
}


.breadcrumbs {
  float: left;
  margin: 0;
  padding-top: 25px;
  list-style: none;
}


.breadcrumbs li {
  position: relative;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  font-weight: 300;

  display: inline;
  padding-right: 18px;
}

.breadcrumbs li::after {
  content: "";
  position: absolute;
  top: 4px;
  right: 9px;

  width: 5px;
  height: 11px;

  background: url("../img/quotes.svg") no-repeat;
}

.breadcrumbs .current:after {
  display: none;
}

.breadcrumbs a {
margin: 0;
color: #ffffff;
text-decoration: none;
border-bottom: 1px solid rgba(255,255,255,0.3);
}

.breadcrumbs a:hover {
color: #ffbc9e;
cursor: pointer;
}

.breadcrumbs a:active {
color: #ffbc9e;
}

.contacts {
  float: right;
  clear: right;
  padding: 0;
  margin: 0;
  font-size: 0;
  line-height: 0;
  text-align: right;
}

.work-time {
font-family: "Roboto", "Arial", sans-serif;
font-size: 14px;
line-height: 16px;
color: #ffffff;
font-weight: 700;
padding-bottom: 5px;
}

.number {
font-family: "Roboto", "Arial", sans-serif;
font-size: 22px;
line-height: 24px;
color: #ffffff;
font-weight: 900;
}

.slider {
  position: relative;

  padding-top: 270px;
  margin-bottom: 43px;

  text-align: center;
  color: #ffffff;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 8px auto;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 60px;
  line-height: 60px;
  color: #ffffff;
  font-weight: 900;
}

.slide-btn {
  display: inline-block;
  padding: 11px 43px;
  margin-top: 20px;

  font-weight: 700;
  font-size: 31px;
  line-height: 41px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.slide-btn:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  cursor: pointer;
}

.slide-btn:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 20px;
  left: 0;
  z-index: 20;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#btn-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/ice-cream-slide-1.png");
}

#btn-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/ice-cream-slide-2.png");
}

#btn-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/ice-cream-slide-3.png");
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
  background-color: #ffffff;
}

.profit {
  margin-bottom: 40px;

  font-size: 0;
  padding: 0;
}

.choсolate {
  position: relative;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  width: 560px;
  height: 229px;
  background: url("../img/choco.jpg") no-repeat;
  border-radius: 15px;
}

.raspberries {
  position: relative;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  width: 560px;
  height: 229px;
  margin-right: 26px;
  background: url("../img/raspberries.jpg") no-repeat;
  border-radius: 15px;
}

.profit-title {
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
  font-weight: 700;
  padding-left: 20px;
  padding-top: 15px

}

.profit-text {
  width: 520px;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  font-weight: 700;
  padding-left: 20px;
  padding-top: 15px;

}

.profit-btn {
  position: absolute;
  display: block;
  bottom: 23px;
  right: 20px;
  padding: 12px 23px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.ice-cream {
    margin-bottom: 20px;

    font-size: 0;
    padding: 0;
}

.ice-cream img {
  margin-bottom: 0;
}


.ice-cream-item {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-right: 26px;
  margin-bottom: 18px;

}

.ice-cream-item:nth-child(4n+4) {
  margin-right: 0;
}

.ice-cream-item-price {
  position: absolute;
  top: 208px;
  left: 0;
  overflow: hidden;
  max-width: 250px;
  font-size: 45px;
  line-height: 45px;
  color: #ffffff;
  font-weight: 700;
}

.kg {
  font-size: 30px;
  line-height: 45px;
  color: #ffffff;
  font-weight: 700;
}

.ice-cream-item-title {
  width: 267px;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  font-weight: 500;
  text-align: center;
}

.ice-cream-item-title a {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255,255,255,0.3);
}

.ice-cream-item-title a:hover {
  color: #ffbc9e;
  cursor: pointer;
}

.hit:before {
  content: "";
  position: absolute;
  width: 61px;
  height: 61px;
  top: 0;
  left: 0;

  background: url("../img/hit.png") no-repeat;
}

.about {
    width: 1106px;
    /*height: 266px;*/
    margin-bottom: 40px;
    padding: 20px 20px;
    padding-bottom: 10px;
    color: #000000;
    border-radius: 15px;

  background: #ecdfc6 url("../img/pattern-wafer.jpg");
}

.about ul {
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 0;
}

.about-title {
  margin-top: 5px;
  margin-bottom: 9px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.about li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 484px;
  margin-right: 28px;
  margin-bottom: 12px;
  padding-left: 55px;
  padding-top: 12px;

  font-size: 16px;
  line-height: 22px;
  color: #000000;
  font-weight: 300;
}

.about li:nth-child(2n) {
  margin-right: 0;
}

.production:before {
  content: "";
  position: absolute;
  width: 47px;
  height: 47px;
  top: 0;
  left: 0;
  background: url("../img/ice.svg") no-repeat;
}

.partners:before {
  content: "";
  position: absolute;
  width: 47px;
  height: 47px;
  top: 0;
  left: 0;
  background: url("../img/cow.svg") no-repeat;
}

.natural:before {
  content: "";
  position: absolute;
  width: 47px;
  height: 47px;
  top: 0;
  left: 0;
  background: url("../img/leaf.svg") no-repeat;
}

.packaging:before {
  content: "";
  position: absolute;
  width: 47px;
  height: 47px;
  top: 0;
  left: 0;

  background: url("../img/temp.svg") no-repeat;
}

.news {
    margin-bottom: 40px;
    font-size: 0;
    padding: 0;
}


.blog {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  width: 560px;
  height: 220px;
  margin-right: 26px;
  border-radius: 15px;
  background: #ffffff url("../img/strawberry.png") no-repeat;
}

.subscribe {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 560px;
  height: 220px;
  border-radius: 15px;
  background: #ffffff url("../img/post.png") no-repeat;

}

.blog-tag {
  padding-top: 25px;
  padding-left: 20px;
  padding-bottom: 8px;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  font-weight: 500;
}

.blog-link {
  width: 285px;
  padding-left: 20px;
}

.blog-link a {
  font-size: 24px;
  line-height: 25px;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}

.blog-link a:hover {
  color: #e84d37;
  cursor: pointer;
}

.subscribe-text {
  padding-top: 35px;
  padding-left: 25px;
  padding-bottom: 8px;
  width: 510px;
  max-height: 60px;
  overflow: hidden;
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
  font-weight: 300;
}

.subscribe-form input {
  position: absolute;
  width: 338px;
  padding: 8px 15px;
  bottom: 40px;
  left: 25px;
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #999999;

  background-color: #ffffff;
  border: 1px solid #b2b2b2;
  border-radius: 5px;
  outline: none;
}

.subscribe-form button {
  position: absolute;
  display: inline-block;
  bottom: 39px;
  right: 27px;
  padding: 10px 18px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border: 0;
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  outline: none;
}

.map {
    position: relative;
    width: 1200px;
    font-size: 0;
    margin: 0;
    padding: 0;
    margin-left: -27px;

}

.pin-contacts {
  position: absolute;
  padding: 30px 25px;
  width: 252px;
  height: 243px;
  top: 62px;
  right: 27px;
  border-radius: 15px;
  background-color: #ffffff;
}

.map p {
  padding-bottom: 24px;
  width: 250px;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #323232;
}

.adress {
  padding-top: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.feedback-btn {
  position: absolute;
  display: inline-block;
  bottom: 28px;
  padding: 10px 28px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;

  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}


.filter {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  font-weight: 500;
  padding: 0;
  margin-bottom: 23px;

}

.filter-title {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 5px;
  padding-left: 15px;
}

.sort-filter {
  width: 193px;
  display: inline-block;
  vertical-align: top;
	overflow: hidden;
	margin-right: 12px;
  margin-bottom: 17px;

}

.sort-filter select {
  padding-left: 15px;
  height: 36px;
  position: relative;
  z-index: 2;
  border: none;
  width: 165%;
  background: rgba(255,255,255,0.2);
  display: block;
  border-radius: 20px;
  color: #ffffff;
}

.sort-filter select label{
padding-left: 15px;
}

.sort-filter select:focus {
    outline: none;
  }


.range-filter {
display: inline-block;
vertical-align: top;
margin-right: 12px;
margin-bottom: 17px;
}

.range-controls {
  position: relative;
  width: 218px;
  height: 36px;

  background: rgba(255,255,255,0.2);
  border-radius: 20px;
}

.range-controls .scale {
  position: absolute;
  top: 16px;
  left: 0;
  width: 188px;
  height: 4px;
  margin: 0 15px;

  background: rgba(255, 255, 255, 0.5);
}

.range-controls .bar {
  width: 60%;
  height: 4px;
  margin-left: 20px;

  background: #ffffff;
}

.toggle {
  position: absolute;
  top: 9px;

  width: 20px;
  height: 20px;

  background: #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.toggle-min {
  left: 15%;
}

.toggle-max {
  left: 60%;
}

.fatness-filter {
  display: inline-block;
  vertical-align: top;
  width: 414px;
  /*height: 36px;*/
  margin-bottom: 17px;
}

.fatness-choise {
  width: 394px;
  height: 18px;
  padding: 9px;

  background: rgba(255,255,255,0.2);
  border-radius: 20px;
}

.fatness-radio-label {
  position: relative;
  padding-left: 36px;
  padding-right: 9px;
  margin-bottom: 15px;
  cursor: pointer;
  vertical-align: middle;
}

.fatness-radio-label:hover {
  cursor: pointer;

}

.fatness-choise input[type="radio"] {
  display: none;
}

.fatness-radio-label input[type="radio"] + .radio-indicator {
  position: absolute;
  top: 0;
  left: 6px;

  width: 18px;
  height: 18px;

  border: 1px solid #ffffff;
  border-radius: 50%;
}

.topping-filter {
  display: inline-block;
  vertical-align: top;
  width: 702px;
  /*height: 36px;*/
  margin-right: 11px;
  margin-bottom: 17px;
}

.topping-choise {
  height: 18px;
  padding: 9px;

  background: rgba(255,255,255,0.2);
  border-radius: 20px;
}

.topping-checkbox-label {
  position: relative;
  padding-left: 37px;
  padding-right: 12px;
  margin-bottom: 15px;
  cursor: pointer;
}

.topping-checkbox-label:hover {
  cursor: pointer;

}

.topping-choise input[type="checkbox"] {
  display: none;
}

.topping-checkbox-label input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: 0;
  left: 6px;

  width: 18px;
  height: 18px;

  border: 1px solid #ffffff;
  border-radius: 3px;
}

.filter-btn {
  display: inline-block;
  vertical-align: top;
  padding: 8px 26px;
  margin-top: 21px;

  color: #ffffff;

  background: rgba(255,255,255,0.2);
  border: 2px solid #ffffff;
  border-radius: 20px;
}

.pagination {
  float: right;
  margin-top: 23px;
  margin-bottom: 40px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  font-weight: 500;
}


.pagination a {
  display: inline-block;
  vertical-align: middle;
  color: #ffffff;
  text-decoration: underline;
}

.pagination a:hover {
color: #ffbc9e;
cursor: pointer;
}

.pagination a:last-child {
  margin-right: 0;
}

.page-number {
  display: inline-block;
  vertical-align: middle;
  width: 11px;
  height: 25px;
  color: #ffffff;
  border-radius: 50%;
  padding: 0 7px;
}

.page-number-list {
  position: relative;
  padding: 0 25px;
}

.page-number:before {
    content: "";
    position: absolute;
    width: 8px;
    height: 13px;
    top: 5px;
    left: 0;
    background: url("../img/previous.svg") no-repeat;
    opacity: 0.3;
}

.page-number:after {
    content: "";
    position: absolute;
    width: 8px;
    height: 13px;
    top: 5px;
    right: 0;
    background: url("../img/next.svg") no-repeat;
}

.current-page {
  display: inline-block;
  vertical-align: middle;
  width: 11px;
  height: 25px;
  color: #000000;
  background: #ffffff;
  border-radius: 50%;
}

.current-page{
  color: #000000;
  text-decoration: none;
}

.main-footer {
    margin: 0;
    padding: 0;
    font-size: 0;

    margin-top: 10px;
    padding-bottom: 20px;
    color: #ffffff;

}

.social {
    float: left;
    width: 267px;
    padding-top: 15px;
    margin-right: 133px;
    text-decoration: none;
    font-size: 0
}


.social-btn {
  display: inline-block;
  width: 38px;
  height: 38px;
  margin: 0 6px;

  font-size: 0;
  vertical-align: top;
  text-decoration: none;
}

.social-btn-tw {
  background: url("../img/tw.svg") no-repeat;
  margin-left: 0;
}

.social-btn-fb {
  background: url("../img/fb.svg") no-repeat;
}

.social-btn-inst {
  background: url("../img/in.svg") no-repeat;
}

.social-btn-vk {
  background: url("../img/vk.svg") no-repeat;
}

.links {
    position: relative;
    float: left;
    width: 308px;
    padding-left: 22px;
    padding-top: 12px;
    font-size: 13px;
    line-height: 22px;
    color: #ffffff;
}

.links:before {
    content: "";
    position: absolute;
    width: 14px;
    height: 12px;
    top: 17px;
    left: 1px;
    background: url(../img/heart.svg) no-repeat;
}

.links a {
  margin: 0;
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255,255,255,0.3);
}

.links a:hover {
color: #ffbc9e;
cursor: pointer;
}

.links-column-left {
  float: left;
  width: 115px;
}

.links-column-right {
  float: right;
  width: 165px;
  margin-left: 13px;
}

.copyright {
    float: right;
    width: 190px;
    padding: 0;
    font-size: 0;
  }

.copyright p {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
  font-weight: 300;
}

.copyright a {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
  font-weight: 300;

  margin: 0;
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255,255,255,0.3);
}

.copyright a:hover {
color: #ffbc9e;
cursor: pointer;
}
